body{
    margin: 0;
}
p {
    text-transform: lowercase;
    color: blue;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
}
.navbar{
    color: #000;
    background-color: aquamarine;
    flex: 100%;
    text-align: center;

}
.navbar, h3{
    text-transform: uppercase;
    padding-bottom: 10px;
}